@import "utility";


$xlScreen: "(max-width: 1700px) and (min-width: 1400px)";
$lgScreen: "(max-width: 1399px) and (min-width: 1000px)";
$photoLg: "(max-width: 1500px) and (min-width: 1200px)";
$photoMd:"(max-width: 1199px) and (min-width: 800px)";
// html{
//   overflow: hidden;
//   height: 100%;
//   width: 100%;
// }
// body{
//   //  background-color: #2994CC;
//    background-image: url("/assets/images/background_seamless_downsized_web.jpg");
//    background-size: 100%;
//    height:100%;
// }
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  &:hover{
    color:inherit;
    text-decoration: none;
  }
  &:focus{
    color:inherit;
    text-decoration: none;
  }
}

.phone-container{
  height:100%;
  @media screen and (max-width: 499px){
    height: 0%;
  }
}

.upcoming{
  height: 30px;
  width: 80px;
  font-size: 0.8rem;
  text-align: -webkit-center;
  letter-spacing: 1px;
  vertical-align: middle;

  @media screen and (max-width: 1000px) and (min-width: 401px){
    height: 30px;
    width: 80%;
    font-size: 11px;
  }
  @media screen and (max-width: 500px){
    height: 30px;
    width: 90px;
    font-size: 11px;
  }
}

// .main-content{
//   text-align: center;
//   transform: translateY(-75%);
//   @media screen and (max-width: 499px){
//     transform: translateY(120%);
//   }
// }

.yellow-head{
  color:$main-yellow;
  font-family: $digital-font;
  font-size: 3.5vw;
  font-weight: 600;
  @media screen and #{$xlScreen}{
    font-size:5em;
  }
  @media screen and #{$lgScreen}{
    font-size:4em;
  }
  @media screen and (max-width: 999px){
    font-size:3em;
  }
}


.digital{
  font-family: $digital-font;
}

.call-now{
  margin-top: 50px;
  font-size: 3vw !important;
  animation-duration: 1500ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes blink {
   from {
      color:#848484;
   }
   to {
      color:$main-yellow ;

   }
 }
.content-text{
  font-family: $digital-font;
  font-size:1.5vw;
  @media screen and #{$xlScreen}{
    font-size:30px;
  }
  @media screen and #{$lgScreen}{
    font-size:25px;
  }
  @media screen and (max-width: 999px){
    font-size:20px;
  }
}


.yellow-highlight{
  color:$main-yellow;
}
.date-name{
  color:white;
  display: inline;
}

.location{
  color:white;
  display: inline;
  padding-left: 20px;
  @media screen and (max-width: 500px){
    display: block;
    padding-left: 0px;
  }
}

.content-container{
  display: inline;
}

// #photo1{
//   height: 85%;
//   float: left;
//   -webkit-transform: rotate(-63deg);
//   transform: rotate(77deg);
//   margin-left: -265px;
//   @media screen and #{$photoLg}{
//     height: 78%;
//     margin-left: -250px;
//   }
//   @media screen and #{$photoMd}{
//     height: 60%;
//     margin-top: 6%;
//     margin-left: -200px;
//   }
//   @media screen and (max-width: 799px) and (min-width: 500px){
//     display: none;
//   }
//   @media screen and (max-width: 499px){
//     height: 200px;
//     margin-top: -30px;
//     margin-left: -30px;
//   }
// }
// #photo2{
//   height: 90%;
//   float: right;
//   margin-top: -4%;
//   -webkit-transform: rotate(-12deg);
//   transform: rotate(-12deg);
//   margin-right: -265px;
//   @media screen and #{$photoLg}{
//     height:70%;
//     margin-top: -30px;
//   }
//   @media screen and #{$photoMd}{
//     height:55%;
//     margin-right: -190px;
//     margin-top: 50px;
//   }
//   @media screen and (max-width: 799px) and (min-width: 500px){
//     display: none;
//   }
//   @media screen and (max-width: 499px){
//     height: 300px;
//     margin-right: 50px;
//     -webkit-transform: translateY(132%) rotate(-12deg);
//     transform: translateY(132%) rotate(-12deg);
//   }
// }

.image-slider{
  width: 260%;
  min-width: 3500px;
  margin-top: 1%;
}

#first-image{
  -webkit-animation: bannermove 20s linear infinite;
   -moz-animation: bannermove 20s linear infinite;
    -ms-animation: bannermove 20s linear infinite;
     -o-animation: bannermove 20s linear infinite;
        animation: bannermove 20s linear infinite;
        @media screen and (max-width: 500px){
          -webkit-animation: 0 ;
           -moz-animation:  0 ;
            -ms-animation:  0 ;
             -o-animation:  0 ;
                animation:  0 ;
        }
}


@media screen and (max-width: 500px){
  .mobile-none{
    display: none !important;
  }
  // #first-image{
  //   width: 85%;
  // }
  // .image-slider{
  //   width: 100%;
  //   min-width: 100%;
  //   text-align: center;
  // }

}


@keyframes "bannermove" {
 0% {
    margin-left: -55%;
 }
 100% {
    margin-left: -100%;
 }

}

@-moz-keyframes bannermove {
  0% {
     margin-left: -55%;
  }
  100% {
     margin-left: -100%;
  }

}

@-webkit-keyframes "bannermove" {
  0% {
     margin-left: -55%;
  }
  100% {
     margin-left: -100%;
  }

}

@-ms-keyframes "bannermove" {
  0% {
     margin-left: -55%;
  }
  100% {
     margin-left: -100%;
  }

}

@-o-keyframes "bannermove" {
  0% {
     margin-left: 0px;
  }
  100% {
     margin-left: -100%;
  }

 }

.dial-image{
  float: left;
  height: 30%;
  width: 9%;
  margin-right: 20px;
}

.scroll-text{
  display: inline;
}

.future{
  font-size: 1.5vw !important;
  @media screen and (max-width: 1000px) and (min-width: 801px){
    font-size: 2vw !important;
  }
  @media screen and (max-width: 800px) and (min-width: 501px){
    font-size: 4vw !important;
  }
  @media screen and (max-width: 500px){
    font-size: 5vw !important;
    float: left;
  }
}

.button-container{
  display: inline;
}

.show-info{
  width: 80%;
  margin-left: 12%;
  margin-bottom: 25px;

}

.td-data{
  color:white;
  font-family: $digital-font;
  font-size: 1.8vw;
}

@media screen and (max-width: 1600px) and (min-width: 801px){
  .show-info{
    width: 70%;
    margin-left: 16%;
  }
  .td-data{
    font-size: 2.2vw;
  }
  .call-now{
    font-size:3.5vw !important;
  }
}

@media screen and (max-width: 800px) and (min-width: 500px){
  .show-info{
    width: 100%;
    margin-left: 0px;
  }
  .td-data{
    font-size: 3vw;
  }
  .call-now{
    font-size: 5.5vw !important;
  }
}
@media screen and (max-width: 499px){
  .show-info{
    margin-top: 20px;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 15px;
  }
  .td-data{
    font-size: 23px;
    display: block;
    width: 100%;
    float: left;
    text-align: left;
  }
  tr .td-data{
    max-width: 200px;
  }
  .call-now{
    font-size: 7.5vw !important;
    margin-top: -20px;
  }
  .non-mobile{
    display: none;
  }

}
